
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

body {
    font-family: 'Poppins';
    font-weight: 500;
  }

  .text-stroke {
    -webkit-text-stroke: 2px black; /* Adjust stroke thickness and color */
    color: white; /* Text color */
  }